style.css
body {
   margin: auto;
   border-width: 1080;
   background-color: solid grey;
   }
header {
   text-align: center;
}
span {

}
p {
   font-family: verdana; font-size: 12px;
   background-color: #d2b48c;
}
h1 {
   font-family: Helvetica; font-style: bold;
   font-size: 18px;
}
h2 {
   font-family: Helvetica; font-style: thin;
   font-size: 16px;
}
head {
   text-align: center;
}
