style.css
body {
   margin: auto;
   border-width: 1080;
   }
header {
   text-align: center;
}
span {
   font-family: helvetica; font-size: 16px;
   font-style: thin;
}

p {
   font-family: verdana; font-size: 12px;
   background-color: #d2b48c;
}
}
h2 & h3 {
   font-family: Helvetica; font-style: bold;
   font-size: 18px;
}
